.container {
  display: flex;
  .card {
    display: flex;
    align-items: center;
    justify-content: center;

    .card-body {
    }

    .liked {
      color: rgb(0, 136, 255);
    }
  }
  .comments {
    .comment-line {
    }
  }
}
