<div class='mt-4'>
  <form method='post' action='/courses/store'>
    <div class='form-group'>
      <label>Name</label>
      <input name='name' type='text' class='form-control' placeholder='Name...' />
    </div>
    <div class='form-group'>
      <label>Description</label>
      <input name='description' type='text' class='form-control' placeholder='Description' />
    </div>
    <div class='form-group'>
      <label>VideoId</label>
      <input name='videoId' type='text' class='form-control' placeholder='VideoId...' />
    </div>
    <div class='form-group'>
      <label>Image</label>
      <input name='image' type='text' class='form-control' placeholder='Image...' />
    </div>
    <div class='form-group'>
      <label>Level</label>
      <input name='level' type='text' class='form-control' placeholder='Level...' />
    </div>

    <button type='submit' class='btn btn-primary'>Đăng khóa học</button>
  </form>
</div>