<div class='mt-4'>
  <form method='post'>
    <div class='form-group'>
      <label for='exampleInputEmail1'>Email address</label>
      <input type='text' name='q' class='form-control' id='exampleInputEmail1' placeholder='Enter your search' />
    </div>
    <select name='gender' id=''>
      <option value=''>--Choses your gender</option>
      <option value='Male'>Male</option>
      <option value='Female'>Female</option>
    </select>

    <button type='submit' class='btn btn-primary'>Submit</button>
  </form>
</div>